quantutils @ git+https://github.com/cwilko/quantutils.git#egg=quantutils
MIPriceAggregator @ git+https://github.com/cwilko/marketinsights-price-aggregator.git#egg=MIPriceAggregator
MIPriceStore @ git+https://github.com/cwilko/marketinsights-price-store.git#egg=MIPriceStore
numpy==1.21.4
scipy==1.7.3
pandas==1.3.5
numba==0.56.3
py-vollib-vectorized==0.1.1