quantutils[options] @ git+https://github.com/cwilko/quantutils.git#egg=quantutils
numpy>=1.14.3,<=1.19.5
pandas<1.3.0
yfinance<=0.1.72
trading-ig>=0.0.20
tenacity>=8.2.2
urllib3>=1.26.14
munch>=2.5.0
tqdm>=4.65.0

#appdirs-1.4.4 beautifulsoup4-4.11.2 cffi-1.15.1 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 llvmlite-0.39.1 marketinsights-price-aggregator-0.0.1 multitasking-0.0.11 munch-2.5.0 numba-0.56.4 py-lets-be-rational-1.0.1 py-vollib-1.0.1 py-vollib-vectorized-0.1.1 pycparser-2.21 pycryptodome-3.17 requests-cache-0.5.2 simplejson-3.18.3 soupsieve-2.4 tenacity-8.2.2 tqdm-4.65.0 trading-ig-0.0.20 urllib3-1.26.14 webencodings-0.5.1